
/* --------------Custom CSS---------------*/

.bck {
	margin-bottom: 4%;
	height: 100vh;
}

.bck > video {
	height: 100vh;
	width: 100%;
	filter: grayscale(40%);
	opacity: 0.8;
	object-fit: cover;
}

.middle {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.img-head {
	height: 55vh;
	width: auto;
	margin-bottom: 10px;
}

.aliter-branding {
	display: none;

}

.fullscreen {
	height: 100vh;
}

.drop-heading {
	letter-spacing: 8px;
	text-transform: uppercase;
	font-size: 1.2em;
}

.no-link {
    text-decoration:none;
}

.no-link:hover {
    text-decoration:none;
}

.register-primary {
	border: 1px solid #fff;
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
	padding: 15px;
	font-size: 1.3em;
	cursor: pointer;
	-webkit-transition: all .25s ease-in-out;
	   -moz-transition: all .25s ease-in-out;
	    -ms-transition: all .25s ease-in-out;
	     -o-transition: all .25s ease-in-out;
	        transition: all .25s ease-in-out;
}

.register-primary:hover {
	background: #fff;
	color: rgba(51, 51, 51, 1);
	font-weight: bold;
}

/*------------- Section 2 ---------------*/
.day {
	padding: 0;
}

.day::before {
	content:"";
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(50, 50, 50, .5);
}

.day:hover {
	background-color: rgba(0,0,0,1);
}

.circle {
	position: relative;
	border-radius: 50%;
	border: 0;
	height: auto;
	background-color: rgba(0, 0, 0, 0.8);
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	cursor: pointer;
}

.circle:hover {
	border: 2px white;
	box-shadow: 0 4px 20px 0 black;
}

.circle-lg {
	width: 65%;
	padding-top: 65%;
	margin-top :40px;
}

.circle-sm {
	margin-right: 10px;
	display: inline-block;
	width: 20%;
	padding-top: 20%;
	margin-top : 20px;
	background-size: 100% 100%;
}

.day-head {
	margin-top:20px;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 2pt;
	font-weight: bold;
	font-size: 1.1em;
	padding: 10px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.9);
	border-right: 4px solid white;
}

.circle-desc {
	margin-top:20px;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 2pt;
	font-weight: bold;
	color: #fff;
	font-size: 1.1em;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 10px;
}

#day-1 {
	background-image: url('../img/a (1).jpg');
	background-size: 800px 100%;
	margin:auto;
	text-align: center;
}

#day-1 .circle-lg {
	/* background-image: url('../img/big_circle (1).jpg'); */
	background-size: 100% 100%;
}

#day-2 {
	background-image: url('../img/a (2).jpg');
	background-size: 900px 100%;
}

#day-2 .circle-lg {
	/* background-image: url('../img/big_circle (2).jpg'); */
	background-size: 100% 100%;
}

#day-3 {
	background-image: url('../img/a (3).jpg');
	background-size: 800px 100%;
	background-position: -50px;
}

#day-3 .circle-lg {
	/* background-image: url('../img/big_circle (3).jpg'); */
	background-size: 100% 100%;
}

.day-foot {
	color: #fff;
	cursor: pointer;
	display: block;
	font-size:16px;
	font-weight: 400;
	line-height: 45px;
	margin-top: 20px;
	max-width: 200px; 
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	width: 100%;
	border-top: 1px solid white;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.day-foot-btn {
	position:absolute;
	right:25%;
	bottom:10px;
	left:50%;
	margin-left:-100px;
	width:200px;
	background-color: rgba(0, 0, 0, 0.6);
	text-align:center;
	border: 1px solid white;
	padding: 8px;
	cursor: pointer;
	font-weight: bold;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.day-foot-btn:hover,:focus {
	background-color: rgb(255, 255, 255);
	color: #333;
}

.day-foot:hover {
	border-top: 1px dashed white;
	letter-spacing: 2pt;
}

/*------------- Section 3 ---------------*/

#section-3 .jumbotron {
	background: transparent;
	text-align: center;
	height: 20vh;
	font-size: 4em;
	color: #333;
}

.presat-foot span {
	color: #000;
	display: block;
	font-size:18px;
	font-weight: 400;
	line-height: 45px;
	margin-top: 20px;
	max-width: 250px; 
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
	border-top: 1px solid #000;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.presat-foot a {
	cursor: pointer;
	color: #000;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.presat-foot a:hover {
	text-decoration: none;
	letter-spacing: 1.4pt;
	font-weight: 600;
}

.presat-foot span:hover {
	/* border-top: 1px dashed #000; */
}

.squares {
	padding-top: 5vh;
	height: 80vh;
}

.square {
	background-color: rgba(0,0,0,0.8);
	height: auto;
	width: 23%;
	padding-top: 23%;
	padding-left: 0;
	margin: 1%;
	cursor: pointer;
	background-size: auto 100%;
	box-shadow: 0 0 1000px #000;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.square:nth-of-type(1) {background-image: url('../img/pre (1).jpg');}
.square:nth-of-type(2) {background-image: url('../img/pre (2).jpg');}
.square:nth-of-type(3) {background-image: url('../img/pre (3).jpg');}
.square:nth-of-type(4) {background-image: url('../img/pre (4).jpg');}

.square:hover {
	background-position: 40% 50%;
	transform: translate(0px, -4px);
}

.desc {
	opacity: 0;
	position: absolute;
	bottom: 0;
	height: 50%;
	width: 100%;
	margin: 0;
	font-size: 1.2em;
	color: #fff;
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.95), rgba(0,0,0,0));
	background-image:    -moz-linear-gradient(bottom, rgba(0,0,0,0.95), rgba(0,0,0,0));
	background-image:     -ms-linear-gradient(bottom, rgba(0,0,0,0.95), rgba(0,0,0,0));
	background-image:      -o-linear-gradient(bottom, rgba(0,0,0,0.95), rgba(0,0,0,0));
	background-image:         linear-gradient(bottom, rgba(0,0,0,0.95), rgba(0,0,0,0));
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.desc span{
	position: absolute;
	bottom: 10px;
	left: 10px;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	transform: translate(0, -20px);
}

.square:hover .desc {
	opacity: 1;
}

.square:hover span {
	transform: translate(0, 0);
}

/*------------- Section 4 ---------------*/

#section-4 .fullscreen {
	background-image: url('../img/hsp (bck).jpg');
	background-size: cover;
}

#getting-here{
	font-size: 3em;
	color: #fff;
	padding-top: 10%;
	position: relative;
	text-shadow: 0px 0px 30px black;
	margin-bottom: 30px;
}

#getting-here hr {
	margin-top: 10px;
	margin-bottom: 2px;
}

#getting-here span {
	margin: 0;
	margin-top: 2px;
	color: white;
	text-shadow: 0 0 30px black;
	font-size: 0.8em;
}

.tickets {
	padding-top: 5%;
}

.ticket {
	background-image: url('../img/ticket.png');
	background-size: auto 100%;
	width: 110px;
	height: 60px;
	font-size: 1.1em;
	line-height: 290%;
	text-align: center;
	color: #000;
	font-weight: bold;
}

.ticket-desc {
	text-shadow: 0px 0px 30px #000;
	font-weight: 600;
}

#register-button {
    cursor: pointer;
	position: absolute;
	width: 300px;
	bottom: 10px;
	left: 50%;
	margin-left: -150px;
	margin-top: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #fff;
	text-align:center;
	border: 1px solid white;
	background-color: rgba(0, 0, 0, 0.6);
	font-weight: bold;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#register-button:hover,:focus {
	background-color: rgb(255, 255, 255);
	color: #333;
}

/* ---------------------- Section 5 ------------------ */

#section-5 .jumbotron {
	background: transparent;
	height: 20vh;
	font-size: 3.5em;
	color: rgba(255, 255, 255, 1);
	text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4);
	width: 100%;
	text-align: center;
}

.sponsors {
	padding-top: 5vh;
	height: 80vh;
}

.sponsor {
	height: auto;
	width: 23%;
	padding-top: 23%;
	margin: 1%;
	cursor: pointer;
	background-size: 100% auto;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.sponsor-browse-all {
	height: auto;
	width: 23%;
	padding-top: 23%;
	margin: 1%;
	cursor: pointer;
	background-size: auto 100%;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	background-image: url('../img/s (all).jpg');
}

.sponsor-browse-all:hover {
	transform: scale(1.05);
}

.sponsor:hover,:focus {
	box-shadow: 4px 4px 10px #000;
	transform: translate(-4px, -4px);
} 

.sponsor:nth-of-type(1) {background-image: url('../img/s (title).jpg');}
.sponsor:nth-of-type(2) {background-image: url('../img/s (power).jpg');}
.sponsor:nth-of-type(3) {background-image: url('../img/s (styledBy).jpg');}

.logo-name {
	text-align: center;
	text-shadow: 1px 0px 4px #000;
	font-size: 1.05em;
}

.sponsor-foot span {
	color: #fff;
	cursor: pointer;
	display: block;
	font-size:16px;
	font-weight: 400;
	line-height: 45px;
	margin-top: 20px;
	max-width: 220px; 
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	width: 100%;
	border-top: 1px solid white;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.sponsor-foot span:hover {
	border-top: 1px dashed white;
	letter-spacing: 1.2pt;
}